In [1]:
!pip install pandas
!pip install openpyxl

Requirement already satisfied: pandas in d:\workspace\environment\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.26.0 in d:\workspace\environment\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\workspace\environment\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\workspace\environment\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\workspace\environment\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in d:\workspace\environment\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: openpyxl in d:\workspace\environment\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in d:\workspace\environment\lib\site-packages (from openpyxl) (2.0.0)

In [2]:
import pandas as pd

In [3]:
path=pd.read_excel(r"D:\guvi project 1 police\traffic_stops.xlsx")
df=pd.DataFrame(path)

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\guvi project 1 police\\traffic_stops.xlsx'

In [ ]:
df.isnull()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
65534,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
65535,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
65536,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False
65537,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False

In [ ]:
df.isnull().sum()

stop_date                 0
stop_time                 0
country_name              0
driver_gender             0
driver_age_raw            0
driver_age                0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type           21720
stop_outcome              0
is_arrested               0
stop_duration             0
drugs_related_stop        0
vehicle_number            0
dtype: int64

In [ ]:
df.isnull().sum().sum()

np.int64(21720)

In [ ]:
df["missing_values"]=df.isnull().sum(axis=1)

In [ ]:
print(df["missing_values"].head())

0    0
1    0
2    0
3    0
4    0
Name: missing_values, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  datetime64[ns]
 1   stop_time           65538 non-null  object
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age_raw      65538 non-null  int64
 5   driver_age          65538 non-null  int64
 6   driver_race         65538 non-null  object
 7   violation_raw       65538 non-null  object
 8   violation           65538 non-null  object
 9   search_conducted    65538 non-null  bool
 10  search_type         43818 non-null  object
 11  stop_outcome        65538 non-null  object
 12  is_arrested         65538 non-null  bool
 13  stop_duration       65538 non-null  object
 14  drugs_related_stop  65538 non-null  bool
 15  vehicle_number      65538 non-null  object
 16  missing_values      65538 non-null  int64
dtypes: bool(3), datetime64[ns](1), int64(3), object(10)
memory usage: 7.2+ MB

In [ ]:
df.dropna(axis=1,how='all',inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  datetime64[ns]
 1   stop_time           65538 non-null  object
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age_raw      65538 non-null  int64
 5   driver_age          65538 non-null  int64
 6   driver_race         65538 non-null  object
 7   violation_raw       65538 non-null  object
 8   violation           65538 non-null  object
 9   search_conducted    65538 non-null  bool
 10  search_type         43818 non-null  object
 11  stop_outcome        65538 non-null  object
 12  is_arrested         65538 non-null  bool
 13  stop_duration       65538 non-null  object
 14  drugs_related_stop  65538 non-null  bool
 15  vehicle_number      65538 non-null  object
 16  missing_values      65538 non-null  int64
dtypes: bool(3), datetime64[ns](1), int64(3), object(10)
memory usage: 7.2+ MB

In [ ]:
df.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number,missing_values
0,2020-01-01,00:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473,0
1,2020-01-01,00:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441,0
2,2020-01-01,00:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264,0
3,2020-01-01,00:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807,0
4,2020-01-01,00:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305,0

In [ ]:
df.drop("driver_age_raw",axis=1,inplace=True)

In [ ]:
df['stop_date']=pd.to_datetime(df['stop_date'], format= '%d-%m-%y')
df['stop_time']=pd.to_datetime(df['stop_time'], format='%H:%M:%S')

In [ ]:
df.fillna({'search_type':'none'}, inplace=True)

In [ ]:
df=df.where(pd.notnull(df), None)

In [ ]:
# import mysql
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in d:\workspace\environment\lib\site-packages (9.3.0)

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",       # Use `user` instead of `username`
    password=""        # Empty password is fine if that's how your MySQL is set up
)

print(mydb)

mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000187A9C01010>

In [ ]:
mycursor.execute("create database police")

DatabaseError: 1007 (HY000): Can't create database 'police'; database exists

In [ ]:
mycursor.execute('use police')
mydb.commit()

In [ ]:
#table creation
mycursor.execute("""create table police.fine(
ID int Auto_increment primary key,
stop_date date,
stop_time time,
country_name varchar(50),
driver_gender varchar(10),          
driver_age int,        
driver_race varchar(50),       
violation_raw varchar(50),   
violation varchar(100),     
search_conducted boolean,       
search_type varchar(100),      
stop_outcome varchar(100),      
is_arrested boolean,     
stop_duration varchar(50),     
drugs_related_stop boolean,         
vehicle_number varchar(50))""")

In [ ]:
print(df.columns)

Index(['stop_date', 'stop_time', 'country_name', 'driver_gender', 'driver_age',
       'driver_race', 'violation_raw', 'violation', 'search_conducted',
       'search_type', 'stop_outcome', 'is_arrested', 'stop_duration',
       'drugs_related_stop', 'vehicle_number', 'missing_values'],
      dtype='object')

In [ ]:
#insert query
for _, row in df.iterrows():
    mycursor.execute("""insert into police.fine(stop_date, stop_time, country_name, driver_gender, driver_age,
driver_race, violation_raw, violation, search_conducted,
search_type, stop_outcome, is_arrested, stop_duration,
drugs_related_stop, vehicle_number)
values(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""",(
    row['stop_date'], row['stop_time'], row['country_name'], row['driver_gender'], row['driver_age'],
row['driver_race'], row['violation_raw'], row['violation'], row['search_conducted'],
row['search_type'], row['stop_outcome'], row['is_arrested'], row['stop_duration'],
row['drugs_related_stop'], row['vehicle_number']
))
mydb.commit()

In [ ]:
df.isnull().sum()

stop_date             0
stop_time             0
country_name          0
driver_gender         0
driver_age            0
driver_race           0
violation_raw         0
violation             0
search_conducted      0
search_type           0
stop_outcome          0
is_arrested           0
stop_duration         0
drugs_related_stop    0
vehicle_number        0
missing_values        0
dtype: int64

In [ ]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  datetime64[ns]
 1   stop_time           65538 non-null  datetime64[ns]
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age          65538 non-null  int64
 5   driver_race         65538 non-null  object
 6   violation_raw       65538 non-null  object
 7   violation           65538 non-null  object
 8   search_conducted    65538 non-null  bool
 9   search_type         65538 non-null  object
 10  stop_outcome        65538 non-null  object
 11  is_arrested         65538 non-null  bool
 12  stop_duration       65538 non-null  object
 13  drugs_related_stop  65538 non-null  bool
 14  vehicle_number      65538 non-null  object
 15  missing_values      65538 non-null  int64
dtypes: bool(3), datetime64[ns](2), int64(2), object(9)
memory usage: 6.7+ MB

None

In [ ]:
# Save to Excel
df.to_excel("mysql_data.xlsx", index=False)

In [ ]:
df.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,00:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,00:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,00:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,00:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,00:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305

In [ ]:
df.columns

Index(['stop_date', 'stop_time', 'country_name', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race', 'violation_raw',
       'violation', 'search_conducted', 'search_type', 'stop_outcome',
       'is_arrested', 'stop_duration', 'drugs_related_stop', 'vehicle_number'],
      dtype='object')

In [ ]:
df.to_excel("output.xlsx", index=False)

In [2]:
df.columns

NameError: name 'df' is not defined